.primary-background-color {
    background-color: #143542;
}

.secondary-background-color {
    background-color: #D9D9D9;
}

.accent-color {
    color: #846F91;
}

.text-color-light {
    color: #FFFFFF;
}

.text-color-dark {
    color: #090608;
}

.default-button {
    height: 50px;
    width: 250px;
    border-radius: 10px;
    background-color: #846F91;
    border: solid #846F91;
    color: #FFFFFF;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.accent-button {
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: solid #846F91;
    background: none;
    color: #FFFFFF;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.flex-column {
    flex-basis: calc(50%);
}

label {
    color: #FFFFFF;
    font-family: Lato, sans-serif;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    font-family: Lato, sans-serif;
}

/* Component Toggle Buttons */
.component-box {
    background-color: #E8DED9;
    border-radius: 10px;
    transition: all 0.3s ease;
    list-style-type: none;
    border: 2px #846F91 solid;
}

.content-wrapper {
    display: flex;
    position: relative;
    justify-content: left;
    gap: 5px;
  }

.change-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }
  
  .bi {   
      cursor: pointer;
  }
  
  .red {
      color: #dc3545;
  }
  
  .green {
      color: #143542;
  }
  
  .trash-icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    opacity: 1;
  }

  .edit-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  } 

  .edit-component-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin-right: 20px;
  }

@media only screen and (min-width: 770px) {

  .chart-slot > span {
    opacity: 0;
  }
  
  .chart-slot:hover .edit-icon {
    opacity: 1;
  }
  
  .chart-slot:hover .trash-icon {
    opacity: 1;
  }

  .trash-icon {
    opacity: 0;
  }

  .edit-component-icon {
    opacity: 0;
  }

  .default-button:hover {
    background-color: #423748;
    border: #423748;
  }

  .accent-button:hover {
    background-color: #423748;
    border: #423748;
  }

  .component-box:hover {
    background-color: #e9ecef;
  }

  .component-box:hover .change-icon {
    opacity: 1;
  }

  .component-box:hover .trash-icon {
      opacity: 1;
      animation: normalFade 0.5s linear forwards;
  }

  .component-box:hover .edit-component-icon {
    opacity: 1;
    animation: normalFade 0.5s linear forwards;
}

  .change-icon > .bi + .bi,
  .change-icon:hover > .bi {
      display: none;
  }
  
  .change-icon:hover > .bi + .bi {
      display: inherit;
  }

  .red:hover {
    color: #c82333;
  }

  .green:hover {
      color: #143542;
  }
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@font-face {
  font-family: Nickainley;
  src: url('../assets/fonts/Nickainley-Normal.eot');
  src: url('../assets/fonts/Nickainley-Normal.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Nickainley-Normal.woff2') format('woff2'), 
  url('../assets/fonts/Nickainley-Normal.woff') format('woff'),
  url('../assets/fonts/Nickainley-Normal.ttf') format('truetype');
 }

/* Calendar */  
@keyframes fade {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
    }
    to { 
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

/* Normal Fade In */
@keyframes normalFade {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(0);
    }
    to { 
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  @keyframes fade-right {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-10px);
    }
    to { 
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

/* Error Shake */
@keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
  }
  
/* input:invalid {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem #ff0000;
} */